.popup__label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #2f71e5;
  margin-bottom: 9px;
  display: block;
}

.popup__input {
  width: 100%;
  padding: 0 0 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #1a1b22;
  margin-bottom: 30px;
  outline: none;
}

.popup__input:focus {
  border-bottom-color: black;
}

.popup__button {
  width: 100%;
  background-color: #2f71e5;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.popup__button:hover {
  background-color: #347eff;
}

.popup__redirect-link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  margin-top: 14px;
}

.popup__link {
  color: #2f71e5;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.popup__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .popup__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .popup__button {
    font-size: 16px;
    padding: 12px 0;
  }
}
