.main {
  width: 100%;
}

.main__search-section {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 608px;
  margin: 25px auto;
  padding: 0 16px;
}

.main__title {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  line-height: 64px;
  color: white;
  font-weight: 400;
  margin: 0 0 24px;
}

.main__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 0 30px;
}

@media screen and (max-width: 1024px) {
  .main__search-section {
    min-height: calc(100vh - 70px);
  }

  .main__title {
    font-size: 48px;
    line-height: 52px;
  }
}

@media screen and (max-width: 768px) {
  .main__search-section {
    min-height: calc(100vh - 60px);
  }

  .main__title {
    width: 425px;
    font-size: 36px;
    line-height: 42px;
  }

  .main__subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
    width: 425px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    width: 100%;
    padding: 0;
  }

  .main__title {
    width: 100%;
    font-size: 50px;
    height: 130px;
    line-height: 40px;
  }
  .main__subtitle {
    width: 100%;
    font-size: 24px;
  }
}
