.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px;
  background-color: #fff;
  color: #b6bcbf;
}

.footer__copyright {
  width: 350px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: 80px;
  letter-spacing: 0;
  margin-left: 20px;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__links,
.footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #777;
}

.footer__social-link img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.footer__social-link img:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 24px;
    gap: 20px;
  }
  .footer__nav {
    gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 16px;
  }
  .footer__nav {
    margin-bottom: 30px;
    gap: 120px;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__copyright {
    margin-bottom: 22px;
    width: 288px;
    font-size: 13px;
  }

  .footer__social {
    margin-bottom: 40px;
  }
}
