.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
}

.main-background-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/dac0778e82f1206f112335e2ee4d938ba64f02d6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 440px;
  z-index: 0;
}

.main-content-wrapper > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .main-background-hero {
    height: 615px;
  }
}
