@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-400-regular.woff2") format("woff2"),
    url("./assets/fonts/roboto-400-regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 16px;
  }
}
